* {
  box-sizing: border-box;
}
/* Layout styling */


body {
  background-color: #ffffff;
  font-family: 'Inter', regular;
  font-size: 28px;
  /* Sets the font size to 28px */
  font-weight: 600;
  /* Sets the font weight to 600 */
  line-height: 1.1;
  /* Sets the line-height to 1.1 * the font-size */
  color: #1b0d2d;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}
h1 {
  font-family: 'MuseoModerno';
  font-size: 26px;
  text-align: center;
  font-weight: 600;
}
h2 {
  font-family: 'MuseoModerno', semi-bold;
  font-size: 26px;
  text-align: center;
}
h3 {
  font-family: 'MuseoModerno';
  font-size: 18px;
  margin: auto;
  text-align: center;
  display: inline-block;
  font-weight: 300;
}
h4 {
  font-size: 20px;
  font-weight: 800;
  color: #222222;
  margin-top: 0;
  margin-bottom: 0;
}
h5 {
  display: inline;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  color: #222222;
}
h6 {
  font-family: 'MuseoModerno', medium;
  font-size: 44px;
  font-weight: 400;
}
.logo {
  max-width: 230px;
  margin: 15 auto;
}

.hero-container {
  padding-top: 0;
  padding-left: 18px;
  padding-bottom: 0;
  padding-right: 16px;
  max-width: 1200px;
}

#hero {
  display: block;
  background-color: #f6f3ff;
  width: 100%;
  text-align: center;
  padding: 25px 10px 20px;
  border-top: border 150px #f6f3ff;
}

#footer-container {
  width: 100%;
  margin-top: 0;
}

#figma-logo{
  max-width: 90px;
  display: inline-block;
  text-align: center;
}
#xd-logo{
  max-width: 90px;
  display: inline-block;
  text-align: center;
}
#middle-row {
  height: auto;
}

.mobile-container {
  margin-top: 15px;
  padding: 6px 20px 35px 20px;
  max-width: 290px;
}

.row {
  margin: 25px 0; 
}
#skills {
  display: inline-block;
  background-color: #f6f3ff;
  height: auto;
  width: 100%;
}

.toolbox {
  text-align: center;
  height: auto;
}
.tool-img {
  text-align: center;
  width: auto;
}
#resume {
  display: inline-block;
  background-color: #f6f3ff;
  height: auto;
  width: 100%;
  margin: 16px auto 0;
  text-align: center;
  padding-bottom: 38px;
}
.text-box {
  max-width: 270px;
  margin: auto;
}
.text-box2 {
  max-width: 270px;
  margin: auto;
}
.regular-h1 {
  display: block;
  font-size: 26px;
  font-weight: 200;
  margin-bottom: 10px;
}
#my-work-h1 {
  margin: 38px;
}
p {
  font-size: 12px;
  /* Sets the font size to 19px */
  font-weight: 400;
  /* Sets the font weight to 400 */
  line-height: 1.1;
  /* Sets the line-height to 1.1 * the font-size */
  max-width: 320;
}

#menu1>li {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  /* Sets the font size to 16px */
  font-weight: 400;
  /* Sets the font weight to 400 */
  line-height: 1.1;
  /* Sets the line-height to 1.1 * the font-size */
}

#menu2 {
  list-style-type: none;
  text-align: center;
  padding: 0;
  font-size: 14px;
  /* Sets the font size to 20px */
  font-weight: 400;
  /* Sets the font weight to 400 */
  line-height: 1.4;
  /* Sets the line-height to 1.1 * the font-size */
  color: #222222;
}

img {
  width: 100%;
}


.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #1b0d2d;
  height: 28px;
  width: 88px;
  color: #ffffff;
  /* needed to override the default link color */
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  padding: 5px 0 2px;
  line-height: 1;
  margin-top: 8px;
  border-radius: 3px;
  border-bottom: 2px solid #1b0d2d;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.6;
}
#tools {
  padding: 0;
  line-height: 1;
}
.secondary-button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  padding: 10px;
  transition: .2s opacity;
}

a:hover {
  opacity: .4;
}
#mywork-h1-2 {
  margin-top: 40px;
  margin-bottom: 20px;  
  }
header {
  display: inline-block;
  background-color: #1b0d2d;
  height: auto;
  width: 100%;
  text-align: center;
  padding: 40px 0 0;
  border-bottom:1px none; 
}
#hero p {
  text-align: left;
}
#yellowbox {
  width: 100%;
  background-color: #fbf100;
  display: none;
}
#yellowbox.responsive {
  display: block;
  margin-bottom: 0;
}
#selfport4 {
 display: block;
 max-width: 90px;
 float: left;
 margin: 14px 14px 8px;
}
.hero-text {
  float: left;
  margin-top: 20px;
}
#hero2-h1{
  font-size: 20px;
  margin-bottom: 0;
  text-align: left;
}
#hero2-h2{
  font-size: 20px;
  font-weight: 100;
  float: left;
  margin: 0;
  text-align: left;
}
#menu1 {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block; 
}
nav > ul > li > a {
  font-weight: 400;
}
.navtoggle.responsive li  {
  display: block;
  }

footer {
  display: inline-block;
  width: 100%;
  background-color: #1b0d2d;
  margin-top: 25px;
  padding-top: 30px;
  text-align: center;
  }
.findme {
  display: inline;
  font-size: 26px;
  line-height: 1;
  color: #ffffff
  
}
.socialtext {
  font-size: 15px;
  margin: auto;
  font-weight: 300;
  line-height: 1.3;
  color: #ffffff
}
.socialtext2 {
  font-size: 15px;
  margin: 10px auto 0;
  font-weight: 300;
  line-height: 1.3;
  color: #ffffff
}

.bold-text{
  font-weight: 800;
  line-height: 1;
}
.hero2-headers{
  max-width: 100px;
}

.social-links{
  text-align: center; 
}
.social-links a{
  display: inline-block;
  padding-top: 10px;
  margin: 2px;
}
.copyright{
  font-weight: 50;
  font-size: 10px;
  color: #ffffff;
}

#hero2 {
  background-color: #f6f3ff;
  text-align: center;
  overflow: hidden;
}
.col-sm-1 {width: 8.33%;}
.col-sm-2 {width: 16.66%;}
.col-sm-3 {width: 25%;}
.col-sm-4 {width: 33.33%;}
.col-sm-5 {width: 41.66%;}
.col-sm-6 {width: 50%;}
.col-sm-7 {width: 58.33%;}
.col-sm-8 {width: 66.66%;}
.col-sm-9 {width: 75%;}
.col-sm-10 {width: 83.33%;}
.col-sm-11 {width: 91.66%;}
.col-sm-12 {width: 100%;}

.text-col {
  max-width: 340;
  margin: 0 auto;
}
[class*="col-"] {
  padding: 15px;
}
.hero-container2 {
  padding: 0 5% 0 7%;
} 
/* ==============================
ANIMATION
================================= */
@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.sun {
  animation-duration: 5s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px)
{
  header {
    width: 60%;
    padding: 29px 0 16px;
    height: 74px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  } 
  #menuToggle {
    display: none;
  }
  
    #yellowbox {
      display: inline;
      width: 40%;
      background-color: #fbf100;
      height: 74px;
      float: right;
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 68px 0 0;
      margin-bottom: 30px;
    }
    nav > ul > li > a {
      padding: 12px auto 10px;
      font-weight: 400;
      display: inline-block;
    }
    #mywork-h1-2 {
    margin-top: 90px;
    margin-bottom: 34px; 
    font-size: 38px; 
    }
    #menu1>li {
      font-size: 15px;
      padding: 0;
    }
    
    #hero2-h1{
      font-size: 18px;
      margin-top: 26px;
    }
   
    .mobile-container {
      max-width: 600px;
      padding: 0;
    }
    #hero2 {
      background-color: #f6f3ff;
      height: 135px;
      text-align: center;
    }
    #hero2-h2{
      font-size: 18px;
      font-weight: 100;
    }
    .text-box {
      max-width: 400px;
      margin-top: 74px;
      margin-right: 24px;
    }
    .text-box2 {
      max-width: 400px;
      float: left;
    }
    #selfport4 {
      display: inline-block;
      max-width: 106px;
      margin: 14px;
     }
    .spacer{
      margin-top: 0;
    }
    #skills {
      background-color: #f6f3ff;
      margin-bottom: 20px;
    } 
 
    h2 {
      font-family: 'MuseoModerno', semi-bold;
      font-size: 26px;
      text-align: center;
    } 
    #menu1 {
      list-style-type: none;
      width: 100%;
     
      padding-top: 26px;
    }
    [class*="col-"] {
      float: left;
    }
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .col-end::after {
    content: "";
    clear: both;
    display: table;
  }

  #residence {
    position: relative;
    bottom: 0px;
  }  

  .toolbox {
    text-align: center;
    height: auto;
    margin-left: 17px;
  } 
   
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .logo {
    max-width: 320px;
    margin: 15 auto;
  }
  
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  }
  #hero2-h1{
    font-size: 24px;
    margin-bottom: 0;
    text-align: left;
  }
  #hero2-h2{
    font-size: 24px;
    font-weight: 100;
    float: left;
    margin: 0;
    text-align: left;
  }

  p {
    font-size: 14px;
    /* Sets the font size to 19px */
    font-weight: 400;
    /* Sets the font weight to 400 */
    line-height: 1.2;
    /* Sets the line-height to 1.1 * the font-size */
    max-width: 320;
  }
  #menu2 {
    list-style-type: none;
    text-align: center;
    padding: 0;
    font-size: 16px;
    /* Sets the font size to 20px */
    font-weight: 400;
    /* Sets the font weight to 400 */
    line-height: 1.4;
    /* Sets the line-height to 1.1 * the font-size */
  }


}


/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
}

